<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/comfortzone/confirm-gift/5fbf5b86ab001715001a36aa" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="address">
        <input type="submit">
    </form>
</body>
</html>