<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/create.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>create account</title>
</head>
<body>
	<div class="form_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4  col-sm-offset-3 col-sm-6">
<<<<<<< HEAD
					<div class="form_horizontal">
					<div ><img src="/img/Black PNG.png" class="logo"alt="logo-img"></div>
					
					<a href="/user/signin"><button class="btn signin"><i class="fa fa-sign-in" aria-hidden="true"></i>login to your account</button></a>
					<div class="lines">
					<h3 class="title">OR</h3>
				   </div>
					<a href="/user/signup"><button class="create"><i class="fa fa-plus-circle" aria-hidden="true"></i>create an account</button></a>

                </div>
=======
				<form class="form_horizontal">
					
					<div ><img src="/images/Black PNG.png" class="logo"alt="logo-img"></div>
					
					<button class="btn signin"><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>login to your account</a></button>
					<div class="lines">
					<h3 class="title">OR</h3>
				   </div>
					<button class="create"><a href="/register"><i class="fa fa-plus-circle" aria-hidden="true"></i>create an account</a></button>

					
				</form>
>>>>>>> ashish
			</div>
		</div>
	</div>
	<video autoplay muted loop>
<<<<<<< HEAD
		<source src="/videos/screen.mp4">
=======
		<source src="/images/screen.mp4">
>>>>>>> ashish
	</video>

</body>
</html>