<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewpoint" content="width-device-width, initial-scale-1">
	    <link rel="stylesheet" type="text/css" href="css\Screen24.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #ffb3079c">
<div class="container">
  <img src="/images/Header.jpg" alt="Snow" class="banner" style="margin-top: 100px; height: 290px;">
  <div class="bottom-left"><H2><b>4U2DATE<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>ME</b></H2></div>
  <div class="top-left">
    <div class="angle-lft">
        <i style="font-size:29px; color: black;" class="fa">&#xf100;</i>
    </div>
<div class="bell">
    <a href="notifications"><i class="fa fa-bell fa-2x" aria-hidden="true" style="color: #C49A22;"></i></a>
</div>
</div>
  <div class="top-right"><img src="/images/Black%20PNG.png" class="logo" alt="logo" /></div>
  <div class="user"><a href="groups"> <i style="font-size:29px; color: black;" class="fa">&#xf0c0;</i></a></div>
  <div class="bottom-right"><a href="messages"><i class="fa fa-comment" style="font-size:29px; color: #C49A22;"aria-hidden="true"></i></a> </div>
</div>
            
                <form class="form_horizontal">
                

<img src="/images/images.jpg" class="ProfilePic" alt="ProfilePic">
<img src="/images/images (1).jpg" class="ProfilePic" alt="ProfilePic">
                   <h4 style="color: black;"><b>Its a Match!</b></h4><br>
                    <h4 style="color: white;">You & Anna Liked Each Other</h4>
                    
                         <button class="btn comments-alt"><a href="screen25"><i class="fa fa-comments" style="font-size:29px"aria-hidden="true"></i>    Let's Chat</a></button>
                    
                   
                </form>

</body>
</html>