<!-- 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> upload videos</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      div.preview-images > img {
        width: 30%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 mt-3">
          <h4>kanhaiya</h4>

          <form
            class="mt-4"
            action="/user/upload1"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <input
                type="file"
                name="multi-files"
                multiple
                id="input-files"
                class="form-control-file border"
              />
             
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="preview-images"></div>
        </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
  </body>
</html>
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewpoint" content="width-device-width, initial-scale-1.0">
    <title>Upload Video</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">   
    <link rel="stylesheet" type="text/css" href="/css/sigup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    

</head>
<body>
    <div class="form_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <form class="form_horizontal" action="/user/upload1" method="POST" enctype="multipart/form-data">
                    <div class="avatar-wrapper">
	                <img class="profile-pic" src=""/>
	                <div class="upload-button">
		<i class="fa fa-arrow-circle-up" aria-hidden="true" ></i>
        
	</div>
              <input class="file-upload" type="file" name="multi-files"  style="display: none" />         
	
</div>
                     <h3 class="title">Upload Video</h3>
                      
                     
                         <button class="btn signin"><i class="fa fa-sign-in" aria-hidden="true"></i>Upload</button>
                    
                   
                </form>
            </div>
        </div>
    </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>