<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="../public/css\id.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .form_bg {
    background: rgb(211, 163, 42);
    height: 100vh;
    display: flex;
    align-items: center;
}
    
.circle-container {
  position: relative;
  width: 26em;
  height: 26em;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: 2em auto 0;
  border: solid 1px rgb(179, 179, 179);
  
}
    .circle-c {
  position: relative;
  width: 26em;
  height: 26em;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: 5em auto 0;
  border: solid 1px rgb(179, 179, 179);
}
.circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  
  margin: -3em;
  width: 6em;
  height: 6em;
}
    .circle-c > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12em;
  width: 24em;
  height: 24em;
}
.circle-container > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(13.5em) rotate(0deg);
          transform: rotate(0deg) translate(13.5em) rotate(0deg);
}
.circle-container > *:nth-of-type(2) {
  -webkit-transform: rotate(60deg) translate(13.5em) rotate(-60deg);
          transform: rotate(60deg) translate(13.5em) rotate(-60deg);
}
.circle-container > *:nth-of-type(3) {
  -webkit-transform: rotate(120deg) translate(13.5em) rotate(-120deg);
          transform: rotate(120deg) translate(13.5em) rotate(-120deg);
}
.circle-container > *:nth-of-type(4) {
  -webkit-transform: rotate(180deg) translate(13.5em) rotate(-180deg);
          transform: rotate(180deg) translate(13.5em) rotate(-180deg);
}
.circle-container > *:nth-of-type(5) {
  -webkit-transform: rotate(240deg) translate(13.5em) rotate(-240deg);
          transform: rotate(240deg) translate(13.5em) rotate(-240deg);
}
    .circle-container > *:nth-of-type(6) {
  -webkit-transform: rotate(300deg) translate(13.5em) rotate(-300deg);
          transform: rotate(300deg) translate(13.5em) rotate(-300deg);
}
.circle-container > *:nth-of-type(7) {
  -webkit-transform: rotate(360deg) translate(13.5em) rotate(-360deg);
          transform: rotate(360deg) translate(13.5em) rotate(-360deg);
}

.circle-container img {
  display: block;
  width: 100px;
    height: 100px;
  border-radius: 50%;
    border: solid 1px #ffcc00;
}

    
</style>
</head>
<body>
    <div class="form_bg">
        
    <ul class='circle-c'>
<ul class='circle-container'>
    
  <li><a href = "#"><img id="image1" src="../public/images/Image (2).jpeg"></a>
        <p>Platform</p></li>
  <li><a href = "#"><img id="image2" src="../public/images/Image (3).jpeg"></a>
  <p>ComfortZone</p></li>
  <li><a href = "#"><img id="image3" src="../public/images/Image.jpeg"></a>
  <p>4U2DateMe</p></li>
  <li><a href = "#"><img id="image4" src="../public/images/Image (5).jpeg"></a>
  <p>Chorus</p></li>
  <li><a href = "#"><img id="image5" src="../public/images/Image (4).jpeg"></a>
  <p>Friend Line</p></li>
  <li><a href = "#"><img id="image6" src="../public/images/Image (1).jpeg"></a>
  <p>TV</p></li>
  
</ul>
        </ul>  
        <div>
             <a href="/dashboard.ejs"><video id="center" autoplay muted loop>
                    <source src="video\screen.mp4">
                  </video></a>  
        </div> 
        
        <div> 
    <div class="avatar-wrapper">
                  <div id="circle1">
                    <a href="/notifications.ejs"><i class="fa fa-bell" aria-hidden="true"></i></a>
                  </div> <br>
                  <div id="circle2">
                   <a href="/messages.ejs"><i class="fa fa-comment" aria-hidden="true"></i></a> 
                  </div> <br>
                  <div id="circle3">
                    <a href="/settings.ejs"><i class="fa fa-cog" aria-hidden="true"></i></a>
                  </div>
                  <div id="circle4">
                   <i ><span onclick="openNav()" style="font-size: 25px;">&#9776;</span></i> 
                  </div>
                  <div id="circle5">
                    <a href="/followers.ejs"><i class="fa fa-users" aria-hidden="true"></i></a>
                  </div>
                  <div class="form_horizontal">
                      <img src="../public/images/Black PNG.png" class="logo" alt="logo" />
                    </div>

                  
            </div></div> 
           <!-- <video autoplay muted loop>
		<source src="screen.mp4">
	</video>-->    
    </div>

    
       <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times</a>
      <a href="#">About</a> 
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    
    
</div>
  
    </div> <br><br>

    <footer>
        <div class = "semi-circle">
          </div>

    </footer>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});

function openNav() {
  document.getElementById("mySidenav").style.width = "220px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</body>
</html>