<form action="/user/mak" enctype="multipart/form-data" method="post" style="margin-top: 10px">
     <label class="custombutton" id="custombutton" style="width:200px;border: 1px solid #ccc;display: inline-block; padding: 6px 12px;cursor: pointer;">
     <input type="file" name="upload" accept="image/*">
     Select new file 
     </label>
     <input type="submit" value="Upload" >
     </form>