<!DOCTYPE html>
<html>
<head>
    <meta name="viewpoint" content="width-device-width, initial-scale-1.0">
    
    <link rel="stylesheet" type="text/css" href="/css/profile.css">   
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile Page</title>
    

</head>
<body>
    <div class="form_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
<<<<<<< HEAD
                <form class="form_horizontal" action="/register" method="POST">
=======
                <form class="form_horizontal">
>>>>>>> ashish
                   <div class="avatar-wrapper">
	<img class="profile-pic" src=""/>
	<div class="upload-button">
		<i class="fa fa-arrow-circle-up" aria-hidden="true" ></i>
        
	</div>
              <input class="file-upload" type="file" accept="image/*" style="display: none" />         
	
</div>
                     <h3 class="title">Upload Image</h3>   
                     <div class="form-group">
                         <span class="input-icon "><i class="fa fa-info" aria-hidden="true"></i></span>
                         <input class="form-control" type="text" name="" placeholder="FullName" aria-hidden="false">
                     </div>
                     <div class="form-group">
                        <span class="input-icon "><i class="fa fa-info" aria-hidden="true"></i></span>
                        <input class="form-control" type="text" name="" placeholder="ShortBiography">
                    </div>
                    <div class="form-group">
                        <span class="input-icon "><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                        <input class="form-control" type="text" name="" placeholder="Gender">
                    </div>
                    <div class="form-group">
                        <a href="#" data-toggle="tooltip" title="Must be 18 or more"><span class="input-icon">
                            <i class="fa fa-child" aria-hidden="true"></i></span>
                            <input class="form-control" type="date" name="" placeholder="DateOfBirth"></a>
                        
                    </div>
                    <div class="form-group">
                        <span class="input-icon "><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                        <input class="form-control" type="text" name="" placeholder="Occupation">
                    </div>
                    <div class="form-group">
                        <span class="input-icon "><i class="fa fa-globe" aria-hidden="true"></i></span>
                        <input class="form-control" type="text" name="" placeholder="Country">
                    </div>
                    <div class="form-group">
                        <span class="input-icon "><i class="fa fa-globe" aria-hidden="true"></i></span>
                        <input class="form-control" type="text" name="" placeholder="State">
                    </div>
                    <div class="form-group">
                        <span class="input-icon "><i class="fa fa-male" aria-hidden="true"></i></span>
                        <input class="form-control" type="text" name="" placeholder="Height">
                    </div>
                   
                    <div class="form-group">
                        <span class="input-icon "><i class="fa fa-info" aria-hidden="true"></i></span>
                        <textarea class="form-control" rows="4" cols="41" placeholder="FullBiography"></textarea>
                    </div>
                    <h3 class="title">Upload More Photos</h3> 
                    <!-- multiple photo upload -->
                    <div class="upload-wrap">
                        <div class="uploadpreview 01"></div>
                        <input id="01" type="file" accept="image/*"> 
                      </div>
                      
                      <div class="upload-wrap">
                        <div class="uploadpreview 02"></div>
                        <input id="02" type="file" accept="image/*">
                      </div>
                      
                      <div class="upload-wrap">
                        <div class="uploadpreview 03"></div>
                        <input id="03" type="file" accept="image/*">
                      </div>
                      
                    <div>
<<<<<<< HEAD
                        <button class="btn signin"><i class="fa fa-sign-in" aria-hidden="true"></i>SaveProfile</button>
                    </div>
                         
=======
                          <button class="btn signin"><a href="/DateMe/user/"><i class="fa fa-sign-in" aria-hidden="true"></i>SaveProfile</a></button>
                        
                        </div>
                
>>>>>>> ashish
                    
                   
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<<<<<<< HEAD
    <script src="profile.js"></script>
=======
    <script src="/js/profile.js"></script>
>>>>>>> ashish
</body>
</html>