<!DOCTYPE html>
<html>
    <head>
        <meta content="html/text ; charset=utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/css/screen25.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
    <body>
       <div class="main">
         <div class="topdiv">
            <a href="#"> <svg class="svg-iconArrow" viewBox="0 0 20 20">
                <path fill="none" d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z"></path>
             </svg> </a>
<<<<<<< Updated upstream
            <a href="notifications"> <i class="fa fa-bell fa-2x svg-iconNotifbell" aria-hidden="true" style="color: #C49A22;"></i> </a>

            <a href="messages"> <i class="fa fa-comment svg-iconMessage" style="font-size:29px; color: #C49A22;"aria-hidden="true"></i> </a>
=======
            <a href="/user/notifications"> <i class="fa fa-bell fa-2x svg-iconNotifbell" aria-hidden="true" style="color: #C49A22;"></i> </a>

            <a href="/user/messages"> <i class="fa fa-comment svg-iconMessage" style="font-size:29px; color: #C49A22;"aria-hidden="true"></i> </a>
>>>>>>> Stashed changes


                <h1>4U2DATE&#128147ME</h1>
               <img class="logo" src="/images/Black PNG.png">
               <img class="wall" src="/images/wallimg.jpg">
        
         </div>
         <div class="middiv">
                <h1>All Matched</h1>
         </div>
         <div class="bottomdiv">

        
            
            <div class="imgdiv">
<<<<<<< Updated upstream
                <a href="Date&match">
=======
                <a href="/DateMe/user/date-match">
>>>>>>> Stashed changes
                <img class="boximg" src=".//images/resources/match1.png">
                <div class="text">
                    <h1>Emily,25</h1>
                    <p>Dancer <br>
                    UK <br>
                    Yesterday</p>

                </div> </a>
            </div>
            
                
              
            <div class="imgdiv">
<<<<<<< Updated upstream
                <a href="Date&match">
=======
                <a href="/DateMe/user/date-match">
>>>>>>> Stashed changes
                <img class="boximg" src="/images/resources/match2.jpg">
                <div class="text">
                    <h1>Emily,25</h1>
                    <p>Dancer <br>
                    UK <br>
                    Yesterday</p>

                </div> </a>
            </div>
            
           <div class="imgdiv">
<<<<<<< Updated upstream
            <a href="Date&match">
=======
            <a href="/DateMe/user/date-match">
>>>>>>> Stashed changes
                <img class="boximg" src="/images/resources/match3.png">
                <div class="text">
                    <h1>Emily,25</h1>
                    <p>Dancer <br>
                    UK <br>
                    Yesterday</p>

                </div> </a>
            </div>
            
            <div class="imgdiv">
<<<<<<< Updated upstream
                <a href="Date&match">
=======
                <a href="/DateMe/user/date-match">
>>>>>>> Stashed changes
                <img class="boximg" src="/images/resources/match4.png">
                <div class="text">
                    <h1>Emily,25</h1>
                    <p>Dancer <br>
                    UK <br>
                    Yesterday</p>

                </div> </a>
            </div>
             
            <div class="imgdiv">
<<<<<<< Updated upstream
                <a href="Date&match">
=======
                <a href="/DateMe/user/date-match">
>>>>>>> Stashed changes
                <img class="boximg" src="/images/resources/match5.png">
                <div class="text">
                    <h1>Emily,25</h1>
                    <p>Dancer <br>
                    UK <br>
                    Yesterday</p>

                </div> </a>

            </div>
            
            <div class="imgdiv">
<<<<<<< Updated upstream
                <a href="Date&match">
=======
                <a href="/DateMe/user/date-match">
>>>>>>> Stashed changes
                <img class="boximg" src="/images/resources/match6.png">
                <div class="text">
                    <h1>Emily,25</h1>
                    <p>Dancer <br>
                    UK <br>
                    Yesterday</p>

                </div> </a>
            </div>

           

            <div class="imgdiv">
<<<<<<< Updated upstream
                <a href="Date&match">
=======
                <a href="/DateMe/user/date-match">
>>>>>>> Stashed changes
                <img class="boximg" src="/images/resources/match7.jpg">
                <div class="text">
                    <h1>Emily,25</h1>
                    <p>Dancer <br>
                    UK <br>
                    Yesterday</p>

                </div> </a>
            </div>
                </div> 
            </div> 
           
         
    </body>
  
</html>