<!DOCTYPE html>
<html>
    <head>
        <meta content="html/text ; charset=utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/css/s24.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
    <body>
        <div class="main">
            <div class="topdiv">
                <a href="#"> <svg class="svg-iconArrow" viewBox="0 0 20 20">
                    <path fill="none" d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z"></path>
                 </svg> </a>
                 <div class="user"><a href="groups.html"> <i style="font-size:29px; color: black;" class="fa group-icon">&#xf0c0;</i></a></div>
                <a href="/notifications"> <i class="fa fa-bell fa-2x svg-iconNotifbell" aria-hidden="true" style="color: #C49A22;"></i> </a>
    
                <a href="/messages"> <i class="fa fa-comment svg-iconMessage" style="font-size:29px; color: #C49A22;"aria-hidden="true"></i> </a>
    
    
                    <h1>4U2DATE&#128147ME</h1>
                   <img class="logo" src="/images/Black PNG.png">
                   <img class="wall" src="/images/wallimg.jpg">
            
             </div>
     <div class="mid-div">

         <div class="mid-div2">
            <img src="<%= loggeduser.avatar %>" class="profilepic">
            <img src="<%= matcheduser.avatar %>" class="profilepic">
            <h4 style="color: black;" class="mid-text">Its a Match!</h4><br>
            <h4 style="color: white;" class="mid-text2">You & <%= loggeduser.fullname %> Liked Each Other.</h4>
            
         </div>
         <a href="screen29.html" class="comments-alt"> <button class="chat-btn"><i class="fa fa-comments chat-icon2" style="font-size:29px"aria-hidden="true"></i>Lets Chat</button> </a>
        
         </div>
        </div>
        </body>
        </html>