<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" content="width-device-width, initial-scale-1.0">
        <title>Screen18</title>
        <link rel="stylesheet" href="/css/screen18.css">
    </head>
    
    <body>
        <div id='parent'>
            <div class="back_button">
                <a href="index.ejs"><img src="/images/pngwing.com.png" class='back_button_img'></a>
            </div>
            <div class="app_logo">
                <img src="/images/Black PNG.png" class='app_logo_img' alt='arrow'>
            </div>
            <div class='two'>
               <h1 id = 'user_name'>user_Name</h1>
            </div>
        </div>
        
        <div class="grid-container">
            <div class="usr_logo">
                <img src='/images/user_logo.jpg' class='user_logo_img'>
            </div>
            <div class="song_name">
                John Doe
            </div>
            <div class="no_of_views">
                Millions
            </div>
            <div class="like_plus_button">
                    <span class="follower">6M</span>
                    <img src="/images/likeButton.png" class='likebutton' alt='likebutton.png'>
          </div>
        <div>
            <img src="/images/world_map.png" class="Third">
            <div class="grid-container2">
                <div class="country1" class="country_class"><h1 class='country_name'>Country1</h1></div>
                <div class="like1"><img src="/images/likeButton.png" class="like_class"><span>16M</span></div>
                <div class="dislike1"><img src="/images/dislike.png" class="dislike_class"><span>1M</span></div>
                <div class="country2" class="country_class"><h1 class='country_name'>Country2</h1></div>
                <div class="like2"><img src="/images/likeButton.png" class="like_class"><span>7M</span></div>
                <div class="dislike2"><img src="/images/dislike.png" class="dislike_class"><span>2M</span></div>
                <div class="country3" class="country_class"><h1 class='country_name'>Country3</h1></div>
                <div class="like3"><img src="/images/likeButton.png" class="like_class"><span>6M</span></div>
                <div class="dislike3"><img src="/images/dislike.png" class="dislike_class"><span>4M</span></div>
              </div>
    </body>
</html>
