
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/screen14.css">
</head>
<body>

<div class='nav'>
	<a href=""><i class="fa fa-chevron-left"></i></a>
	<a href=""><i class="fa fa-user"></i></a>
</div>
<div class="main" id="main-1">  
   <div class='title'>
	   CHORUS LEADERS
   </div>
	<div class="main-image"  >
	 <div id="main-image1">
	 <img class="im" src="/images/Black PNG.png" alt="">
	</div>
</div>   


</div>

<div class="main"  style="height:100px; width:90%; border-radius: 1rem; margin-bottom: 20px;">

	<div class="main-image" style="border:3px solid yellow;width:100px; height:100px; ">
	 <img src="/images/user11.jpg">
	</div>

   <div id="top">
   	<div id="winner">
   		<b>Winner<b>
   	</div>
    <div class="likes common" style="width:100px;">
   
   <div>
   	<i class="fa fa-thumbs-up"></i>
   </div>

   <div class="likesname">
	   	<div>
	   		16.3k
	   	</div>
	   	<div>
	   		votes
	   	</div>
   </div>


  </div>
   

	</div>
	<div id="down">
		<i class="fa fa-trophy"></i><a href="#">Alexis Walker</a>	</div>

</div>

<div class='user'>
	
<div class="names">
	 <div class="user-image common">
		<a href="#">
		  <img src="/images/user15.jpg">
	    </a>
	 </div>
	 <div class="user-name common" >

		<a href="#">Alexys Walker V</a>
	 </div>
</div>
  <div class="likes common">
   
   <div>
   	<i class="fa fa-thumbs-up"></i>
   </div>

   <div class="likesname">
	   	<div>
	   		16.3k
	   	</div>
	   	<div>
	   		votes
	   	</div>
   </div>


  </div>
</div>


<div class='user'>
<div class="names">
	 <div class="user-image common">
		 <img src="/images/user10.jpg">

	 </div>
	 <div class="user-name common">
		<a href="#">Ceaser O'kon</a>
	 </div>
</div>
  <div class="likes common">
   
   <div>
   	<i class="fa fa-thumbs-up"></i>
   </div>

   <div class="likesname">
	   	<div>
	   		16.3k
	   	</div>
	   	<div>
	   		votes
	   	</div>
   </div>


  </div>
</div>




<div class='user'>
<div class="names">
	 <div class="user-image common">
		<img src="/images/user5.jpg">

	 </div>
	 <div class="user-name common">
		<a href="#">Jake Auer</a>
	 </div>
</div>
  <div class="likes common">
   
   <div>
   	<i class="fa fa-thumbs-up"></i>
   </div>

   <div class="likesname">
	   	<div>
	   		16.3k
	   	</div>
	   	<div>
	   		votes
	   	</div>
   </div>


  </div>
</div>


<div class='user'>
<div class="names">
	 <div class="user-image common">
		<img src="/images/user6.jpg">

	 </div>
	 <div class="user-name common">
		<a href="#">Kalley Dietnch</a>
	 </div>
</div>
  <div class="likes common">
   
   <div>
   	<i class="fa fa-thumbs-up"></i>
   </div>

   <div class="likesname">
	   	<div>
	   		16.3k
	   	</div>
	   	<div>
	   		votes
	   	</div>
   </div>


  </div>
</div>

<div class='user'>
<div class="names">
	 <div class="user-image common">
		<img src="/images/user7.jpg">

	 </div>
	 <div class="user-name common">
     <a href="#">Nathan Jenkins</a>
	 </div>
</div>
  <div class="likes common">
   
   <div>
   	<i class="fa fa-thumbs-up"></i>
   </div>

   <div class="likesname">
	   	<div>
	   		16.3k
	   	</div>
	   	<div>
	   		votes
	   	</div>
   </div>


  </div>
</div>

<div class='user'>
<div class="names">
	 <div class="user-image common">
		<img src="/images/user8.jpg">

	 </div>
	 <div class="user-name common">
     <a href="#"> Walker</a>
	 </div>
</div>
  <div class="likes common">
   
   <div>
   	<i class="fa fa-thumbs-up"></i>
   </div>

   <div class="likesname">
	   	<div>
	   		16.3k
	   	</div>
	   	<div>
	   		votes
	   	</div>
   </div>


  </div>
</div>
</body>
<html>
